body, html {
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

.custom-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.custom-box {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 400px;
}

.custom-form {
    display: flex;
    flex-direction: column;
}

.custom-form .form-group {
    margin-bottom: 20px;
}

.custom-form .btn-primary {
    width: 100%;
    margin-top: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* AllTasks.css */
.all-tasks-title {
    font-size: 28px;
}

.task-item {
    margin-bottom: 20px;
}

.task-title {
    font-size: 20px;
    font-weight: bold;
}

/* taskDetails.css */
.task-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.task-details-card {
    width: 100%;
    max-width: 800px;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.task-details-card .card-title {
    font-size: 72px;
}

.task-details-card .card-text {
    font-size: 24px;
}